@import url("https://fonts.googleapis.com/css2?family=Milonga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&family=Rokkitt:ital,wght@0,200;0,400;0,600;0,800;1,200;1,600;1,800&display=swap");

:root {
  --header: "Milonga", serif;
  --subHeader: "Archivo", serif;
  --paragraph: "Rokkitt", sans-serif;
  --bloodrise: #eb4036;
  --gore: #863935;
  --orange: #eb8c4b;
  --lightBrown: #819d83;
  --gold: #eba543;
  --sandstone: #d0b38b;
  --paleYellow: #eddec9;
  --paleYellowHover: #d5c7b4;
  --warmNight: #210e08;
  --warmGrey: #211e1b;
}
/* General Styling */

body {
  margin: 0;
  font-family: "Rokkitt", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--sandstone);
  color: var(--warmNight);
}

h1 {
  font-family: var(--header);
}

.contentPosition {
  display: flex;
  flex-direction: row;
  position: relative;
}

.gameNavPosition,
.heroCardPosition {
  position: fixed;
  top: 25%;
  border-top: 1px solid var(--warmGrey);
  border-bottom: 1px solid var(--warmGrey);
}

.gameNavPosition {
  left: 0;
}

.heroCardPosition {
  right: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  margin: 0 auto;
  margin-left: 170px;
  margin-right: 170px;
  margin-top: 97px;
  min-height: 70vh;
  background-color: var(--paleYellow);
}

@media only screen and (max-width: 600px) {
  main {
    margin-top: 56px;
    width: 90%;
  }
}

.container {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.errorMsg {
  background-color: red;
}

.successsMsg {
  background-color: yellow;
}

.cursive {
  font-style: italic;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.underlineHover:hover {
  text-decoration: underline;
}

.circularImg {
  border-radius: 50%;
}

/* Header Styling */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  background-color: var(--lightBrown);
  border-bottom: 1px solid var(--warmGrey);
  z-index: 1000;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

header .navLink,
header a {
  text-decoration: none;
  font-family: var(--paragraph);
  font-weight: bold;
  color: var(--warmGrey);
}

header .navLink:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .mobileMenu {
    position: fixed;
    top: 56px;
    width: 50vw;
    background-color: #819d83;
    border-bottom-left-radius: 10px;
    z-index: 999;
    right: 0;
  }

  .mobileMenu h3 {
    text-decoration: underline;
  }

  .mobileMenu nav {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 10px;
    gap: 10px;
  }

  .gameMenuSmall {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .gameMenuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid black;
  }

  .gameMenuSmall form {
    margin: 15px 0;
  }

  .navLink {
    text-decoration: none;
    font-weight: 600;
    color: var(--warmGrey);
    cursor: pointer;
  }

  /*   .gameLink {
    background-color: #8fc695;
    padding: 4px;
  } */

  .navLink:hover {
    text-decoration: underline;
  }
}

/* Mobile view */
@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
  }
  header h1 {
    font-size: 1em;
  }
  header nav {
    display: none;
  }

  .burgerIcon {
    display: block;
    margin-right: 20px;
  }
}

/* Game Nav Styling */
.gameNav {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 20px;
  gap: 20px;
  background-color: var(--lightBrown);
  border-radius: 5px;
  width: 150px;
}

.navItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.gameNav a {
  font-family: var(--paragraph);
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--warmNight);
}

.gameNav a:hover {
  text-decoration: underline;
}

/* Mobile view */
@media only screen and (max-width: 600px) {
  .gameNav {
    display: none;
  }

  .gameNavMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    gap: 25px;
    background-color: var(--lightBrown);
    border-radius: 5px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #819d83;
  padding: 5px 0;
}

.footerNav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footerText {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.logoutContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}

@media only screen and (max-width: 600px) {
  .logoutContainer {
    display: none;
  }
}

/* Index, news & login form */
.loginForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.loginForm button {
  width: fit-content;
}

.loginItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

/* Hero Creation - step 1 */
.characterCreation {
  width: 100%;
}

.characterCreate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.characterCreate button {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--lightBrown);
  font-family: var(--paragraph);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.characterCreate input,
.characterCreate button,
.characterCreate select,
.characterCreate option {
  width: fit-content;
}

/* Mobile view */
@media only screen and (max-width: 600px) {
  .avatarSelect {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .avatar {
    box-sizing: border-box;
    padding: 5px;
    margin: 0 auto;
  }
}

/* Hero Creation - step 2 */
.heroStatForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroStatForm button {
  width: fit-content;
  margin-top: 20px;
  font-size: 1.5rem;
}

.statContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}

.baseStats h3,
.skills h3 {
  text-align: center;
}

.stat {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 5px;
}

.stat input {
  width: 2.5rem;
}

/* Level Up Message Box */
.levelUpMsg {
  background-color: var(--gold);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 2%;
  border-bottom: 5px solid rgb(207, 151, 60);
}
.levelUpMsg h4 {
  margin: 5px 0;
}
/* playerHero Summary Page */

.summaryContainer {
  background-color: var(--paleYellow);
  width: 100%;
}

.heroCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.heroShortSummary {
  background-color: var(--lightBrown);
  padding: 10px;
  border-radius: 5px;
}

.heroShortSummary p {
  margin: 2px;
}

.heroShortSummary img {
  width: 9rem;
  height: 9rem;
}

.heroGeneralContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 35px;
  padding: 5px;
  border: 1px solid var(--lightBrown);
  border-radius: 5px;
  margin-bottom: 10px;
}

.heroBaseAttributes {
  padding-right: 5%;
}

.playerAvatar {
  width: 12rem;
  height: 12rem;
  border: 2px solid var(--gold);
  /* margin-right: 15px; */
  margin-bottom: 10px;
}

.heroStats {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 2%;
  gap: 25px;
}

.heroGear {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  border: 1px solid var(--lightBrown);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.heroGear h4 {
  margin-top: 16px;
}

.heroGear h5 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.equippedItems,
.heroInventory {
  width: 40%;
}

.equippedItems h4 {
  margin-bottom: 5px;
}

.inventoryItem,
.equippedItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.inventoryItem p,
.equippedItem p {
  margin: 5px 0;
}

.inventoryItem button,
.equippedItem button {
  height: fit-content;
  align-self: center;
}
/* Mobile View */
@media only screen and (max-width: 600px) {
  .summaryContainer {
    width: 95%;
  }
  .heroGeneralContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 2%;
  }

  .heroGeneralStats {
    border: none;
  }

  .heroGeneralStats p {
    margin: 0;
  }

  .heroStats p {
    margin: 0;
  }

  .heroCard,
  .heroBaseAttributes {
    padding-right: 5%;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gold);
  }

  .playerAvatar {
    width: 7rem;
    height: 7rem;
  }

  .heroGear {
    width: 80%;
  }
}

/* playerHero Styling */
.heroSheetHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inventoryImgContainer {
  width: 10%;
}

.inventoryImage {
  width: 100%;
}

.combatStatistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #d0b38b;
}

.combatStatistics h3,
.combatStatistics p {
  margin-bottom: 0;
}

.combatStatValues {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media only screen and (max-width: 600px) {
  .combatStatsImage {
    width: 5rem;
    height: 5rem;
  }
}
/* Shop Styling */
.weaponContainer h3 {
  margin-bottom: 0;
}

.weaponCategory {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.weaponCategory h4 {
  margin-bottom: 0px;
  font-size: 1.1rem;
}

.shopItem p {
  margin-top: 0;
  margin-bottom: 5px;
}

.shopContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.shopDefault,
.shopTagline {
  margin: 0 auto;
}

.categorySelector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

/* Shop Item Display Modulo */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details {
  background-color: var(--paleYellow);
  padding: 20px;
  margin-bottom: 20px;
}

.details form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details form select,
.details form label,
.details form button {
  width: fit-content;
}

.details form button {
  margin-top: 15px;
}

/* Tavern */
.tavernContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tavernBarWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightBrown);
  padding: 10px;
  border: 2px solid var(--gold);
  border-radius: 5px;
}

.tavernBarWork button {
  margin-bottom: 10px;
}

.tavernImage {
  width: 100%;
}

/* Combat Page & Log */
.combatlog form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Tombstone */

.tombstoneContainer {
  width: 50%;
}

/* Hospital */
.hospitalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hospitalContainer img {
  width: 50%;
  height: fit-content;
}
