:root {
  --bloodrise: #eb4036;
  --gore: #863935;
  --orange: #eb8c4b;
  --lightBrown: #819d83;
  --gold: #eba543;
  --sandstone: #d0b38b;
  --paleYellow: #eddec9;
  --paleYellowHover: #d5c7b4;
  --warmNight: #210e08;
  --warmGrey: #211e1b;
}
/* General Styling */

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--sandstone);
  color: var(--warmNight);
}

main {
  padding: 2%;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.errorMsg {
  background-color: red;
}

.successsMsg {
  background-color: yellow;
}

.cursive {
  font-style: italic;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.underlineHover:hover {
  text-decoration: underline;
}

.circularImg {
  border-radius: 50%;
}

/* Header Styling */
header {
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  background-color: var(--lightBrown);
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

header a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: var(--warmGrey);
}

header a:hover {
  text-decoration: underline;
}

/* Game Nav Styling */
.gameNav {
  margin-bottom: 15px;
}

.gameNav a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: var(--warmNight);
  background-color: var(--paleYellow);
  padding: 10px;
  border: 2px solid var(--lightBrown);
  border-radius: 5px;
}

.gameNav a:hover {
  background-color: var(--paleYellowHover);
}
/* Footer Styling */

/* Hero Creation - step 1 */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characterCreate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.characterCreate button {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--gold);
  cursor: pointer;
}

.characterCreate input,
.characterCreate button,
.characterCreate select,
.characterCreate option {
  width: fit-content;
}

/* Hero Creation - step 2 */
.heroStatForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroStatForm button {
  width: fit-content;
  margin-top: 20px;
  font-size: 1.5rem;
}

.statContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}

.baseStats h3,
.skills h3 {
  text-align: center;
}

.stat {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 5px;
}

.stat input {
  width: 2.5rem;
}

/* Level Up Message Box */
.levelUpMsg {
  background-color: var(--gold);
  margin-bottom: 2%;
}
/* playerHero Summary Page */
.summaryContainer {
  background-color: var(--paleYellow);
  width: 80%;
  padding: 2%;
}

.heroGeneralContainer {
  display: flex;
  flex-direction: row;
  gap: 35px;
  padding-bottom: 2%;
  border-bottom: 2px solid var(--gold);
}

.heroGeneralStats,
.heroBaseAttributes {
  padding-right: 5%;
  border-right: 2px solid var(--gold);
}

.playerAvatar {
  width: 12rem;
  height: 12rem;
}

.heroStats {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  gap: 25px;
}

.heroGear h4 {
  margin-top: 16px;
}

.heroGear h5 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.inventoryItem,
.equippedItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.inventoryItem button,
.equippedItem button {
  height: fit-content;
  align-self: center;
}

/* playerHero Styling */
.imageContainer {
  width: fit-content;
}
/* Shop Styling */

.weaponContainer h3 {
  margin-bottom: 0;
}

.weaponCategory {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.weaponCategory h4 {
  margin-bottom: 0px;
}

.shopItem h5 {
  margin-top: 0;
  margin-bottom: 5px;
}

.shopContainer {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

/* Shop Item Display Modulo */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.details form {
  display: flex;
  flex-direction: column;
}

.details form select,
.details form label,
.details form button {
  width: fit-content;
  margin: 0 auto;
}
