@import url("https://fonts.googleapis.com/css2?family=Milonga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&family=Rokkitt:ital,wght@0,200;0,400;0,600;0,800;1,200;1,600;1,800&display=swap");

:root {
  --header: "Milonga", serif;
  --subHeader: "Archivo", serif;
  --paragraph: "Rokkitt", sans-serif;
  --bloodrise: #eb4036;
  --gore: #863935;
  --orange: #eb8c4b;
  --lightBrown: #819d83;
  --gold: #eba543;
  --sandstone: #d0b38b;
  --paleYellow: #eddec9;
  --paleYellowHover: #d5c7b4;
  --warmNight: #210e08;
  --warmGrey: #211e1b;
}
/* General Styling */

body {
  margin: 0;
  font-family: "Rokkitt", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--sandstone);
  color: var(--warmNight);
}

h1 {
  font-family: var(--header);
}

main {
  padding: 2%;
  margin: 0 auto;
  margin-top: 100px;
  width: 90%;
  background-color: var(--paleYellow);
}

@media only screen and (max-width: 600px) {
  main {
    margin-top: 56px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.errorMsg {
  background-color: red;
}

.successsMsg {
  background-color: yellow;
}

.cursive {
  font-style: italic;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.underlineHover:hover {
  text-decoration: underline;
}

.circularImg {
  border-radius: 50%;
}

/* Header Styling */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  background-color: var(--lightBrown);
  z-index: 1000;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

header .navLink,
header a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: var(--warmGrey);
}

header .navLink:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .mobileMenu {
    position: fixed;
    top: 56px;
    background-color: #819d83;
    z-index: 999;
  }

  .mobileMenu nav {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
  }
}

/* Mobile view */
@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
  }
  header h1 {
    font-size: 1em;
  }
  header nav {
    display: none;
  }

  .burgerIcon {
    display: block;
    margin-right: 20px;
  }
}

/* Game Nav Styling */
.gameNav {
  margin-bottom: 15px;
}

.gameNav a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: var(--warmNight);
}

.gameNav a:hover {
  text-decoration: underline;
}
/* Mobile view */
@media only screen and (max-width: 600px) {
}
/* Footer Styling */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Index, news & login form */
.loginForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.loginForm button {
  width: fit-content;
}

.loginItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

/* Hero Creation - step 1 */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characterCreate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.characterCreate button {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--gold);
  cursor: pointer;
}

.characterCreate input,
.characterCreate button,
.characterCreate select,
.characterCreate option {
  width: fit-content;
}

/* Mobile view */
@media only screen and (max-width: 600px) {
  .avatarSelect {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .avatar {
    box-sizing: border-box;
    padding: 5px;
    max-width: 80%;
    margin: 0 auto;
  }
}

/* Hero Creation - step 2 */
.heroStatForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroStatForm button {
  width: fit-content;
  margin-top: 20px;
  font-size: 1.5rem;
}

.statContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}

.baseStats h3,
.skills h3 {
  text-align: center;
}

.stat {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 5px;
}

.stat input {
  width: 2.5rem;
}

/* Level Up Message Box */
.levelUpMsg {
  background-color: var(--gold);
  margin-bottom: 2%;
}
/* playerHero Summary Page */
.summaryContainer {
  background-color: var(--paleYellow);
  width: 80%;
  padding: 2%;
}

.heroCard {
  display: flex;
  flex-direction: row;
}

.heroGeneralContainer {
  display: flex;
  flex-direction: row;
  gap: 35px;
  padding-bottom: 2%;
  border-bottom: 2px solid var(--gold);
}

.heroGeneralStats,
.heroBaseAttributes {
  padding-right: 5%;
  border-right: 2px solid var(--gold);
}

.playerAvatar {
  width: 12rem;
  height: 12rem;
  margin-right: 15px;
}

.heroStats {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 2%;
  gap: 25px;
}

.heroGear h4 {
  margin-top: 16px;
}

.heroGear h5 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.inventoryItem,
.equippedItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.inventoryItem button,
.equippedItem button {
  height: fit-content;
  align-self: center;
}
/* Mobile View */
@media only screen and (max-width: 600px) {
  .summaryContainer {
    width: 95%;
  }
  .heroGeneralContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 2%;
    border-bottom: 2px solid var(--gold);
  }

  .heroGeneralStats {
    border: none;
  }

  .heroGeneralStats p {
    margin: 0;
  }

  .heroStats p {
    margin: 0;
  }

  .heroCard,
  .heroBaseAttributes {
    padding-right: 5%;
    border-bottom: 2px solid var(--gold);
  }

  .playerAvatar {
    width: 7rem;
    height: 7rem;
  }
}

/* playerHero Styling */
.imageContainer {
  width: fit-content;
}

.combatStatistics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.combatStatistics h4,
.combatStatistics p {
  margin-bottom: 0;
}

.combatStatValues {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media only screen and (max-width: 600px) {
  .combatStatsImage {
    width: 5rem;
    height: 5rem;
  }
}
/* Shop Styling */
.weaponContainer h3 {
  margin-bottom: 0;
}

.weaponCategory {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.weaponCategory h4 {
  margin-bottom: 0px;
}

.shopItem h5 {
  margin-top: 0;
  margin-bottom: 5px;
}

.shopContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.categorySelector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

/* Shop Item Display Modulo */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details {
  background-color: var(--paleYellow);
  padding: 20px;
  margin-bottom: 20px;
}

.details form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details form select,
.details form label,
.details form button {
  width: fit-content;
}

.details form button {
  margin-top: 15px;
}

/* Tavern */
.tavernContainer {
  width: 90%;
}

.tavernImage {
  width: 100%;
}
